header.masthead {
  position: relative;
  width: 100%;
  color: #000;
  background-image: url("../img/header-mobile-science.jpg");
  height: 90vh;
}

@media (min-width: 992px) {
  header.masthead {
    height: 70vh;
    min-height: 200px;
    padding-top: 100px;
    padding-bottom: 0;
    background-image: url("../img/header-desktop-science.jpg");
    background-size: cover;
    background-position: 50%, left;
  }
}

#mainNav .navbar-nav > li > a,
#mainNav .navbar-nav > li > a:focus {
  color: #222222;
}

section.stress-types .stress-box {
  z-index: 100;
  box-sizing: border-box;
  background: #f0f7f5;
  border: 14px solid #fff;
  margin-left: 30px;
  max-width: 90%;
  padding: 20px 20px 20px 40px;
}

section.stress-types {
  background: #D4F7F0;
}

section.stress-types .stress-text {
  padding: 20px;
  text-align: left;
}

section.stress-types .stress-text-inversed {
  padding: 60px;
  text-align: left;
}