html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: sofia_prolight, "Open Sans", sans-serif, Helvetica, Arial;
}

a {
  color: #2409A1;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}

a:hover, a:focus {
  color: #200F6E;
}

hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1);
}

hr.light {
  border-color: white;
}

h1,
h2 {
  font-family: sofia_probold, "Open Sans", sans-serif, Helvetica, Arial;
  font-weight: 600;
  letter-spacing: 1px;
}

h3 {
  font-family: sofia_promedium, "Open Sans", sans-serif, Helvetica, Arial;
  font-weight: 400;
  line-height: 1.4;
}

h4,
h5,
h6 {
  font-family: sofia_prolight, "Open Sans", sans-serif, Helvetica, Arial;
  font-weight: 200;
  letter-spacing: 1px;
}

h1 {
  font-size: 6.5em;
}

h2 {
  font-size: 3.5em;
}

h3 {
  font-size: 2.5em;
}

h4 {
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.75em;
}

p {
  font-size: 16px;
  line-height: 1.75em;
  margin-bottom: 20px;
}

section {
  padding: 100px 0;
}

section .section-heading {
  margin-bottom: 0;
}

#mainNav {
  border-color: rgba(34, 34, 34, 0.05);
  background-color: white;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
  font-weight: 200;
  letter-spacing: 1px;
}

#mainNav .navbar-brand {
  color: #24326e;
  font-weight: 600;
  font-size: 2em;
  letter-spacing: 1px;
  font-family: sofia_probold;
}

#mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
  color: #24326e;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  padding: 8px 10px;
  color: #222222;
}

#mainNav .navbar-nav > li > a {
  font-size: 12px;
  font-family: sofia_proregular;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#mainNav .navbar-nav > li > a.active {
  color: #24326e !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li > a.active:hover {
  background-color: transparent;
}

#mainNav .navbar-nav > li > a,
#mainNav .navbar-nav > li > a:focus {
  color: #222222;
}

#mainNav .navbar-nav > li > a:hover,
#mainNav .navbar-nav > li > a:focus:hover {
  color: #24326e;
}

@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: fade(white, 70%);
  }
  #mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
    color: white;
  }
  #mainNav .navbar-nav > li > a,
  #mainNav .navbar-nav > li > a:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-nav > li > a:hover,
  #mainNav .navbar-nav > li > a:focus:hover {
    color: white;
  }
  #mainNav.navbar-shrink {
    border-color: rgba(34, 34, 34, 0.1);
    background-color: white;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #222222;
  }
  #mainNav.navbar-shrink .navbar-brand:hover, #mainNav.navbar-shrink .navbar-brand:focus {
    color: #24326e;
  }
  #mainNav.navbar-shrink .navbar-nav > li > a,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus {
    color: #222222;
  }
  #mainNav.navbar-shrink .navbar-nav > li > a:hover,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus:hover {
    color: #24326e;
  }
}

header.masthead {
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  color: #000;
  background-image: url("../img/header-desktop.jpg");
  background-size: cover
}

header.masthead .header-content {
  max-width: 500px;
  margin-bottom: 100px;
  text-align: center;
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead .header-content {
    margin-bottom: 0;
    text-align: left;
  }
}

section.problem {
  padding-bottom: 50px;
  background-color: #ece6e8;
}

section.symptoms {
  padding-top: 50px;
}
section.symptoms .symptom {
    margin-top: 100px;
}

section.symptoms h2 {
    margin-bottom: 20px;
    margin-top: 20px;
}

section.symptoms .symptom .text-wrapper {
    background: white;
    height: 120%;
    width: 115.2%;
}

section.symptoms .symptom .img-pane {
    z-index: 100;
}

section.symptoms .symptom .img-wrapper {
    margin-left: -3.8%;
    width: 103.8%;
    display: inline-block;
}

section.prices {
  background: #D4F7F0;
  padding-top: 50px;
  padding-bottom: 0;
}

section.prices .price-separator {
  min-height: 350px;
  background-image: url("../img/scattered-radishes.jpg");
  background-size: cover;
  background-position: -10px, right;
  height:100%;
}

section.prices .price-box {
  z-index: 100;
  box-sizing: border-box;
  background: #f0f7f5;
  border: 14px solid #fff;
  margin-left: 30px;
  max-width: 90%;
  padding: 20px 20px 20px 40px;
}


section.prices .price-text {
  padding: 20px;
  text-align: left;
}

footer {
  padding: 25px 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  background-color: #222222;
}

footer p {
  font-size: 12px;
  margin: 0;
  font-weight: 200;
}

footer ul {
  margin-bottom: 0;
}

footer ul li a {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.3);
}

footer ul li a:hover, footer ul li a:focus, footer ul li a:active, footer ul li a.active {
  text-decoration: none;
}

.bg-primary {
  background: #f8f9fa;
  background: -webkit-linear-gradient(#f8f9fa, #f8f9fa);
  background: linear-gradient(#f8f9fa, #f8f9fa);
}

.text-primary {
  color: #2409A1!important;
}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.btn-outline {
  color: white;
  border: 1px solid;
  border-color: white;
}

.btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active,
.btn-primary:hover, .v:focus, .btn-primary:active, .btn-primary.active {
  color: white;
  border-color: #24326e;
  background-color: #200F6E;
}

.btn {
  border-radius: 300px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.btn-xl {
  font-size: 12px;
  padding: 15px 35px;
}

.btn-primary {
    background-color: #2409A1;
    border-color: #2409A1;
}

.timeline {
  position: relative;
  padding: 0;
  list-style: none;
}

.timeline:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  width: 2px;
  margin-left: -1.5px;
  content: '';
  background-color: #e9ecef;
}

.timeline > li {
  position: relative;
  min-height: 50px;
  margin-bottom: 50px;
}

.timeline > li:after, .timeline > li:before {
  display: table;
  content: ' ';
}

.timeline > li:after {
  clear: both;
}

.timeline > li .timeline-panel {
  position: relative;
  float: right;
  width: 100%;
  padding: 0 20px 0 60px;
  text-align: left;
  line-height: 1;


  box-sizing: border-box;
  background: #f0f7f5;
  border: 14px solid #fff;
}

.timeline > li .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline > li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline > li .timeline-image {
  position: absolute;
  z-index: 100;
  left: 0;
  width: 80px;
  height: 80px;
  margin-left: 0;
  text-align: center;
  color: white;
}

.timeline > li .timeline-image h4 {
  font-size: 10px;
  line-height: 14px;
  margin-top: 12px;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  padding: 0 20px 0 60px;
  text-align: left;
  line-height: 1;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline > li:last-child {
  margin-bottom: 0;
}

.timeline .timeline-heading h4 {
  margin-top: 0;
  color: inherit;
}

.timeline .timeline-heading h4.subheading {
  text-transform: none;
}

.timeline .timeline-body > ul,
.timeline .timeline-body > p {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }
  .timeline > li {
    min-height: 100px;
    margin-bottom: 80px;
  }
  .timeline > li .timeline-panel {
    float: left;
    width: 41%;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .timeline > li .timeline-image {
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 13px;
    line-height: 18px;
    margin-top: 16px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
    line-height: 1;
  }
}

@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px;
    line-height: 1;
  }
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 18px;
    line-height: 26px;
    margin-top: 30px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
    line-height: 1;
  }
}

@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 60px;
    line-height: 1;
  }
  .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
  .timeline > li .timeline-image h4 {
    margin-top: 40px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
    line-height: 1;
  }
}

.timeline-title-num {
    font-size: 4rem;
    font-weight: 300;
    min-width: 80px;
    margin-bottom: 10px;
}

.biomarker-title {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 10px;
}

.biomarker:before {
  border-top: 1px solid black;
  content: '';
  transform: translate(-10px, -5px);
  width: 25px;
  display: inline-block;
}


.biomarker {
  font-size: 16px;
  padding-left: 20px;
  margin-bottom: 5px;
  line-height: 1.5em;
}

section.testimonials .testimonial-item {
  height: 100%;
  padding: 0 10px 0 10px;
  text-align: center;
  line-height: 1;

  box-sizing: border-box;
  background: #f0f7f5;
  border: 14px solid #fff;
}

section.testimonials .testimonial-item img {
    width: 200px;
    height: 200px;
}
