header.masthead {
  position: relative;
  width: 100%;
  color: #000;
  background-image: url("../img/header-desktop-contact.jpg");
  background-size: cover;
  height: 90vh;
}

@media (min-width: 992px) {
  header.masthead {
    height: 70vh;
    min-height: 200px;
    padding-top: 100px;
    padding-bottom: 0;
    background-position: center right;
  }
}

section#contact .form-group textarea.form-control {
    height: 238px;
}

section#contact .form-group input, section#contact .form-group textarea {
    padding: 20px;
}