svg.circle(viewBox='0 0 100 100', xmlns='http://www.w3.org/2000/svg')
    defs
        linearGradient#circleGradient(gradientTransform='rotate(45)')
            stop.gradient-start-color(offset='0%')
            stop.gradient-end-color(offset='100%')
    circle(cx='50', cy='50', r='50')