// Override Bootstrap color system

$yellow: #fdcc52;
$purple: #7b4397;
$red: #dc2430;

// Override Bootstrap default state colors

$primary: $yellow;
$secondary: $purple;

// Custom state color
$tertiary: $red;

// Brand colors
$brand-twitter:		#1da1f2;
$brand-facebook:	#3b5998;
$brand-google-plus:	#dd4b39;

// Override Bootstrap yiq lightness value

$yiq-contrasted-threshold: 205;
